.main-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 70px;
  align-items: center;
}
.booking-form {
  background-color: #050c1a;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 5px;
  float: left;
}
.booking-form h3 {
  margin: 10px 0px;
}
.booking-form .input-group {
  margin: 10px 0;
}

.booking-form input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #12161f;
  border-radius: 4px;
  margin: 10px 0;
}
.booking-form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.booking-content {
  color: #fff;
  width: 100%;
}

.required input:after {
  content: "*";
}
